

.crystals{
    display: flex;
    justify-content: space-around;
    border:1px solid red;
    align-items: center;


}
body {
    align-items: center;
}
.crystal{
    border:1px solid black transparent;
    width: 120px;
    height:120px;
}

/*.container {
    text-align: center;
}*/

.instructions {
   background-color: transparent !important;
   font-size: 15px; 
   font-family: 'Oleo Script Swash Caps', cursive !important;
   background-color: transparent !important;

}

.jumbotron {
    background-color:transparent !important;
    font-family: 'Oleo Script Swash Caps', cursive !important;
    color: white;
    font-size:18px;
    text-shadow: 2px 2px 2px 2px rgb(0, 247, 255);
}

/*.crystal { 
    background-color: transparent !important;

}


/*p {font-family: 'Oleo Script Swash Caps', cursive;
    color: white;
    font-size:60px;
    text-shadow: 2px 2px 2px 2px rgb(0, 247, 255);
}*/

.target-number {
    font-family: 'Oleo Script Swash Caps', cursive;
    color:white;
    font-size:40px;

}

.win-lose-counter{
    font-family: 'Oleo Script Swash Caps', cursive;
    color:white;
    font-size:25px;

}

.total-score{
    font-family: 'Oleo Script Swash Caps', cursive;
    color:white;
    font-size:25px; 
}

.score-number{
    font-family: 'Oleo Script Swash Caps', cursive;
    color:white;
    font-size:25px;

}
